h1 {
    color: orange
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}

.portrait {
    float: left;
    padding-right: 20px;
}

body {
    background-color: saddlebrown;
}

p1 {color: burlywood

}

marquee {
    color:blanchedalmond

}

marquee {
    word-spacing: 50px;
}
div {
    background: darkolivegreen;
    border-radius: 30px;
    padding-top: 20px;
        padding-left:30px;
        padding-right: 10px
    }
    ul {
        color:blanchedalmond
    }